body {
    background-color: cornsilk;
}

h1 {
color: saddlebrown;
font weight: bolt;
}

h2 {
color: saddlebrown;
font weight: bolt;
}

p {
font-style: italic;
font-size: 18px;
}

table {
background-color: lemonchiffon;
font-size: 18px
}

a {
color: firebrick;
}

ul {
font-style: italic;
font-size: 18px;
}

form {
font-style: italic;
font-size: 18px;
}

